.site-container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.site-gradient {
  background: linear-gradient(90deg, #19d3ae 0%, #0fcfec 100%);
}
.site-gradient:hover {
  background: linear-gradient(-90deg, #19d3ae 0%, #0fcfec 100%);
}
