.doctor-avatar {
  text-align: center;
  padding: 30px !important;
  border: 1px dashed;
  cursor: pointer;
  color: #9e9c9c;
  font-size: 18px;
  border-radius: 7px;
}

.doctor-avatar svg {
  display: inline-block;
}
